*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:'Poppins',sans-serif;
}

body{
    background:#f5f5f7;
    color:#1d1d1f;
}

.navbar{
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:20px 8%;
    background:white;
    position:sticky;
    top:0;
    box-shadow:0 2px 15px rgba(0,0,0,0.08);
    z-index:1000;
}

.logo{
    font-size:28px;
    font-weight:700;
}

.nav-links{
    display:flex;
    list-style:none;
    gap:25px;
}

.nav-links a{
    text-decoration:none;
    color:black;
}

.hero{
    min-height:100vh;
    background:url('images/iphonebanner.jpg');
    background-size:cover;
    background-position:center;
    background-repeat:no-repeat;
    display:flex;
    flex-direction:column;
    justify-content: flex-start;
    padding-top: 180px;
    align-items:center;
    text-align:center;
    position:relative;
}
.hero::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.35);
}
.hero h1,
.hero p,
.hero-buttons{
    position: relative;
    z-index: 2;
}
.hero h1{
    font-size: 5rem;
    color: white;
    margin-top: -150px;
}
.hero p{
    font-size:1.5rem;
    color:white;
}

.hero1{
    min-height:100vh;
    background:url('images/macbook.png');
    background-size:cover;
    background-position:center;
    background-repeat:no-repeat;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    text-align:center;
    position:relative;
    margin-top: 15px;
}
.hero1::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.35);
}
.hero1 h1,
.hero1 p,
.hero1-buttons{
    position: relative;
    z-index: 2;
}
.hero1 h1{
    font-size: 5rem;
    color: white;
}
.hero1 p{
    font-size:1.5rem;
    color:white;
}

.hero2{
    min-height:100vh;
    background:url('images/watchbanner.jpg');
    background-size:cover;
    background-position:center;
    background-repeat:no-repeat;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    text-align:center;
    position:relative;
    margin-top: 15px;
}

.hero2::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.35);
}
.hero2 h1,
.hero2 p,
.hero2-buttons{
    position: relative;
    z-index: 2;
}
.hero2 h1{
    font-size: 5rem;
    color: white;
}
.hero2 p{
    font-size:1.5rem;
    color:white;
}

.apple-banner{
    height:70vh;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    text-align:center;
    background:#f5f5f7;
}
.apple-banner h1{
    font-size:5rem;
    font-weight:700;
}
.apple-banner p{
    font-size:1.5rem;
    color: #666;
}
.dark{
    background:black;
    color:white;
}
.dark p{
    color:#d1d1d1;
}
.btn{
    background:#0071e3;
    color:white;
    padding:12px 30px;
    border-radius:30px;
    text-decoration:none;
}

.btn-outline{
    border:2px solid white;
    color:white;
    background:transparent;
    padding:12px 30px;
    border-radius:30px;
    text-decoration:none;
}

.hero-buttons{
    margin-top:25px;
    display:flex;
    gap:15px;
}

.featured{
    padding:80px 8%;
}
.featured h2{
    text-align:center;
    font-size:2.5rem;
    margin-bottom:20px;
}
.product-grid{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(250px,1fr));
    gap: 30px;
    margin-top: 40px;
}

.card{
    background:white;
    padding:20px;
    border-radius:20px;
    text-align: center;
    display: flex;
    flex-direction: column;
    box-shadow:0 10px 30px rgba(0,0,0,.08);
    transition:.3s;
}

.card:hover{
    transform:translateY(-10px);
}

.card img{
    width:100%;
    height: 220px;
    object-fit: contain;
}

.card button{
    width:100%;
    padding:10px;
    border:none;
    background:#0071e3;
    color:white;
    border-radius:8px;
    margin-top:10px;
}

.features{
    display:grid;
    grid-template-columns:
    repeat(auto-fit,minmax(250px,1fr));
    gap:25px;
}

.feature{
    background:white;
    padding:30px;
    border-radius:20px;
}

.about,
.contact{
    padding:80px 10%;
}

form{
    max-width:500px;
}

input,
textarea{
    width:100%;
    padding:12px;
    margin:10px 0;
}
.why{
    padding:80px 8%;
    background:#fafafa;
}

.why h2{
    text-align:center;
    margin-bottom:40px;
    font-size:2.5rem;
}

.socials{
    margin-bottom:20px;
}
.socials a{
    color:white;
    text-decoration:none;
    margin:0 15px;
}
footer{
    background:#111;
    color:white;
    text-align:center;
    padding:40px;
    margin-top:50px;
}
@media(max-width:768px){
    .hero h1{
        font-size:3rem;
    }
    .nav-links{
        gap:12px;
    }
    .product-grid{
        grid-template-columns: 1fr;
    }
}